<<<<<<< HEAD
#gifs-appear-here {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
}

#buttons {
    align-items: center;
    text-align: center;
    margin-left: 15px;
    margin: 15px;
    

}

#searchbox {
    text-align: center;
}
#title { 
    text-align: center;
    color: lightcoral;
    font-size: 25px;
}
body{
background-color: deepskyblue;
color: darkcyan;
}
=======
flex-wrap:wrap;
.display:flex;
justify-content: space-around;
flex:1
display:block;
flex basis:33%;
>>>>>>> 05414d70387269173f4bc40cb424463a55c1a0ea
